.topfixed {
  background-color: whitesmoke;
  text-align: center;
  color: black;
  text-decoration: none;
  width: 100%;

  padding-bottom: 2px;
}
.topfixed a {
  color: inherit;
  text-decoration: none;
  font-size: 12px;
}
.navigation {
  background-color: black;
  text-align: center;
  color: white;
  height: 45px;
  width: 100%;
  text-align: center;
}
.row {
  width: 101.2%;
}
.navigation a {
  font-size: 12px;
  text-decoration: none;
  color: white;
}
.NoiseImg {
  height: 20px;
}
.grid {
  width: 100%;
  text-align: center;
}
.outer {
  padding: 50px 10px;
}
.MainDiv {
  font-size: 30px;
  text-decoration: solid;
}
.SubDiv {
  padding: 10px 10px;
  text-transform: capitalize;
}
.link {
  text-decoration: none;
  padding-top: 20px;
}
.image {
  padding-top: 20px;
  width: 130px;
}
.balck1_img {
  /* padding-top: 40px; */
  height: 180px;
  padding-bottom: 30px;
}
.black1_title {
  color: white;
  text-transform: capitalize;
}
.black1_sub {
  color: white;
  font-size: x-small;
  padding-top: 3px;
}
.black1 {
  width: 100%;
  background-color: black;
  padding-top: 40px;
}
.black2 {
  width: 100%;
  background-color: black;
  padding-top: 50px;
}
.balck2_img {
  height: 200px;
  width: 300px;
}
.video {
  width: 100%;
  height: auto;
}
.overlay {
  color: white;

  position: absolute;
  top: 350%;
  right: 39%;
  z-index: 1;
}
.title {
  text-transform: capitalize;
  font-size: 30px;
}

.sub {
  font-size: 15px;
  padding-bottom: 20px;
}
.watchNo {
  background-color: rgb(67, 67, 231);
  color: aliceblue;
  font-size: 14px;
  margin-left: 50px;
  border-radius: 120px;
}
.below_video {
  background-color: rgb(228, 223, 223);
  padding-top: 18px;
  padding-bottom: 18px;
}
.title_video {
  padding-top: 5px;
  text-transform: capitalize;
  padding-bottom: 13px;
  font-size: 15px;
}
.sub_video {
  font-size: 10px;
  
}

.below4 {
  width: 100%;
  text-align: center;
  padding: 40px 0px;
}
.title_below4 {
  padding-bottom: 18px;
  font-size: 3vw;
}
.sub_below4 {
 
  padding-bottom: 10px;
  font-size: 1.4vw;
}

.form_below{
  padding-bottom: 40px;
}
.font4{
  font-size: 12px;
  padding: 4px 0px;
}
ul{
  list-style: none;
}
.below_video1 {
  background-color: rgb(228, 223, 223);
  padding-top: 18px;
  padding-bottom: 18px;
}
.sub_video1{
  font-size: 14px;
  padding: 5px 0px;
  
}
.title_video1{
  
 padding: auto;
}